<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-3 mb-md-0 text-muted">© 2023 SinEtiqtas <br> desarrollado por <br> germanponcedeveloper@gmail.com</span>
          
        </div>
    
        <ul class="nav col-md-4 justify-content-start  list-unstyled d-flex">
          <li>
            <a href="https://www.instagram.com/sinetiqtas/"><img [src]="icon" alt="Instagram"></a>
          </li>
        </ul>
      </footer>     
</div>