<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img [src]="logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/list-items']">Productos</a>
            </li>
          </ul>
          <div class="cart">
             <i (click)="op.toggle($event)" class="pi pi-cart-plus" style="font-size: 2rem"></i>
          </div>
          <form [formGroup]="search" (ngSubmit)="onSearch(search.value)" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" formControlName="searchTerm" placeholder="Buscar..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </nav>
      <p-overlayPanel #op [showCloseIcon]="true">
        <p-table [value]="products"  [paginator]="true" [rows]="5" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>
                Nombre
              </th>
              <th>Imagen</th>
              <th>
                Cantidad
              </th>
              <th>
                Precio
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                <td>
                  {{product.body.title}}
                </td>
                <td>
                  <img [src]="product.body.pictures[0].url" alt="" class="w-5rem shadow-2">
                </td>
                <td>
                  {{product.body.amount}}
                </td>
                <td>
                  $ {{product.body.price}}
                </td>
                <td>
                  <i (click)="removeFromCart(product.body.id )" class="pi pi-trash"></i>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="footer" let-product>
              <tr>
                <th>
                  Total
                </th>
                <td></td>
                <td>$ {{total()}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <th>
                Carrito en construccion!
              </th>
            </tr>
          </ng-template>
        </p-table>
        <p-button (click)="orderSubmit()" label="Iniciar Compra"  styleClass="p-button-help"></p-button>
      </p-overlayPanel>
</div>
<div class="alert">
  <p>PAGINA WEB EN CONSTRUCCIÓN</p>
</div>
