<div class="body">
    <div class="container">
        <div class="image">
            <p-galleria 
                            [value]='images' 
                            [responsiveOptions]="responsiveOptions" 
                            [containerStyle]="{ 'max-width': '640px' }" 
                            [numVisible]="5">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.url" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                    <div class="grid grid-nogutter justify-content-center">
                        <img [src]="item.url" style="width: 100px;"/>
                    </div>
                    </ng-template>
            </p-galleria>
        </div>
        <div class="info">
            <div class="title">
                <ng-container *ngIf="item">
                    <h3>{{title}}</h3>
                    <p *ngFor="let attribute of item.body.attributes" >
                        {{attribute.name}} : {{attribute.value_name}}
                    </p>
                </ng-container>
                            </div>
        </div>
    </div>
</div>